<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
    <p>
        <label >Full name:</label>
        <br/>
        <input type="text" placeholder="Fullname" formControlName="fullName">
    </p>
    <p>
        <label>Email:</label>
        <br/>
        <input type="email" placeholder="Email" formControlName="email">
    </p>
    <p>
        <label >password:</label>
        <br/>
        <input type="password" placeholder="password" formControlName="password">
    </p>
    <button type="submit" [disabled]="!loginForm.valid">Login</button>
    

</form>